@import url("./modulos/variables.css");
@import url("./modulos/header.css");
@import url("./modulos/nav.css");

  .body{
   background-color: var(--primary-theme-color);
   color: var(--primary-text-color); 
   margin: 0;
   font-family: var(--primary-font-family);
  }